body{
    background-image: url(./assets/images/bgi.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.weather{
    height: 450px;
    width: 370px;
    background-color:rgba(119, 119, 119, 0.5);
    border-radius: 5px;
    
}

.inp{
    margin: 40px 0 0 75px;
    height:30px;
    width: 200px;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
    display: inline-block;
    vertical-align:bottom;
    outline: none;
    background-color: rgba(210, 202, 202,0.4);
    color: black
}

.search{
    height: 25px;
    cursor: pointer;
    background-color: rgba(119, 119, 119, 0.0);
    border: none;

}

.city-name{
    height: 50px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    font-size: 35px;
    color: lightgray;
    font-weight: bold;

}

.dis-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.status{
    height: 70px;

}

.temperature{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

.temp{
    color: lightgrey;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}

.cont{
    display: flex;
    justify-content: space-around;
    height: 160px;
}

.feels-like{
    flex: 1;
    margin-left: 5px;
    background-color: rgba(68, 68, 72,0.6);
}

.humidity{
    flex: 1;
    background-color:rgba(116, 116, 123,0.6);
}

.wind-speed{
    flex: 1;
    background-color:rgba(68, 68, 72,0.6);
    margin-right: 5px;
}

.name1{
    margin-left: 18px;
    color: lightgray;
}

.num1{
    margin:40px 0 0 30px;
    color:lightgrey;
}

.disc{
    margin: 30px 0 8px 25px;
    color: rgb(211, 211, 211);
}

.ss{
    height: 20px;
}
